BOT_TOKEN=YOUR_BOT_TOKEN_HERE
TELEGRAM_API=YOUR_API_ID_HERE
TELEGRAM_HASH=YOUR_API_HASH_HERE
OWNER_ID=YOUR_TELEGRAM_USER_ID_HERE
TMDB_API_KEY=YOUR_TMDB_API_KEY_HERE
LEECH_DUMP_CHAT=YOUR_CHANNEL_ID_HERE
POPCORN_CHANNEL_ID=YOUR_CHANNEL_ID_HERE
POPCORN_POST_TO_CHANNEL=True
